In [30]:
import sqlite3
import re

# Convert a .nt file to a sqlite3 .db file with the same schema, indexed on each column and pairs of columns

In [31]:
NT_PATH = 'dbtropes.nt'
DB_PATH = 'tropes.db'

In [35]:
!open .

In [32]:
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

In [34]:
try:
    conn.execute('DROP TABLE triples')
except Exception:
    pass
conn.execute('CREATE TABLE TRIPLES (s, p, o)')
conn.commit()

KeyboardInterrupt:

In [ ]:
with open(NT_PATH) as f:
    count = 0
    for line in f:
        # progress check
        if count % 10000 == 0:
            print(count)
        splits = re.split('<(http://(?:\S*)(?:/\S*)+)>', line[:-3])
        try:
            l = [splits[1], splits[3], splits[5]]
        except IndexError:
            l = [splits[1], splits[3], splits[4]]
        try:
            cursor.execute('INSERT INTO triples VALUES (?, ?, ?)', l)
        except ProgrammingError:
            print('>>>>>>' + line)
            print(l)
        count += 1
conn.commit()

In [9]:
conn.execute('CREATE INDEX s ON triples (s)')  # can group by entity (title, trope, actor, etc)
conn.execute('CREATE INDEX p ON triples (p)')  # can group by predicate
conn.execute('CREATE INDEX o ON triples (o)')  # can group by object (trope, subcategory, etc)
conn.execute('CREATE INDEX so ON triples (s, o)')  # where s = x and o = y
conn.execute('CREATE INDEX sp ON triples (s, p)')  # where s = x and p = y
conn.execute('CREATE INDEX po ON triples (p, o)')  # where p = x and o = y
conn.commit()

In [12]:
q = 'SELECT * from triples LIMIT 100'
[x for x in conn.execute('SELECT o from triples WHERE p = "http://skipforward.net/skipforward/resource/seeder/skipinions/hasFeature" LIMIT 100')]

[(' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',),
 (' ',)]